/.idea
*.pyc
/chapter06/BPNet/*.pyc
/chapter06/old/Ann08Boltzmann/*.pyc
/chapter06/Kohonen/*.pyc
/chapter06/old/Ann05Kohonen/*.pyc
/chapter06/old/Ann02BP/*.pyc
/chapter09/*.pyc
/chapter06/Boltzmann/*.pyc
/chapter03/*.pyc
/chapter05/*.pyc
/chapter06/*.pyc
/chapter06/old/Ann04SOM/*.pyc
/chapter10/*.pyc
/chapter02/*.pyc
/chapter04/*.pyc
/chapter08/old/*.pyc
/chapter08/*.pyc
/chapter01/*.pyc
